.draggableNode {
  cursor: grab;
  min-width: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: oklch(98% 0.01 80);
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  transition: all 0.2s ease;
}

.draggableNode:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #9c9797;
}

.draggableNode:active {
  cursor: grabbing;
  transform: translateY(0);
  border-color: rgba(255, 255, 255, 0.2);
}

.label {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 0.9rem;
}

.icon {
  /* opacity: 0.9; */
}

.icon svg {
  width: 28px;
  height: 28px;
}
